<div class="field-group parent_category">
    <div class="form-group parent_category-field select-field_type ">
        <label class="control-label">
            {{ trans('visiosoft.module.customfields::field.parent_category.name') }}
        </label>
        <div class="input-wrapper">
            <select id="parentCat" name="parent_category[]" class="form-control parent_category" multiple="multiple">
            </select>
        </div>
    </div>
</div>