{% extends layout('users') %}

{% block content %}
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">

            {{ form('login').redirect(request_get('redirect', '/'))|raw }}

            <br>

            <a href="{{ url_route('anomaly.module.users::password.forgot', {
                'redirect': request_get('redirect', '/')
            }) }}">
                {{ trans('anomaly.module.users::message.forgot_password') }}
            </a>

        </div>
    </div>
{% endblock %}
