<a class="nav-item nav-link bg-secondary" id="nav-comments-tab"
   data-toggle="tab" href="#nav-comments" role="tab"
   aria-controls="nav-comments"
   aria-selected="true">{{ trans('visiosoft.module.comments::addon.title') }}</a>
