{% if params.show %}
    <div class="tab-pane fade" id="nav-streetview" role="tabpanel" aria-labelledby="nav-streetview-tab">
        {% include "visiosoft.module.streetview::ad-detail/streetview" %}
    </div>
{% endif %}