{% include "visiosoft.theme.base::home/carsearch" %}
<div class="page">
    <div class="container">

        {% include "visiosoft.theme.base::home/featured" %}
        {% include "visiosoft.theme.base::home/trend" %}
        {% include "visiosoft.theme.base::home/singlecta" %}


    </div>
</div>

