{% include "theme::home/carsearch" %}
<div class="page">
    <div class="container">

        {% include "theme::home/featured" %}
        {% include "theme::home/trend" %}
        {% include "theme::home/singlecta" %}


    </div>
</div>

