<div class="col-xs-12 col-sm-12 col-md-12 text-center s-home-banner visible-xs">
    <div class="col-md-12 visible-xs">
        {% set banner_default = img('visiosoft.theme.base::images/s-home-banner.png').url %}
        {{ setting_value('visiosoft.default.visiosoft.theme.base::s-type-banner-mobile-code','<img src="'~banner_default~'">')|raw }}
    </div>
</div>
{% include "visiosoft.theme.base::partials/s-mobile-categories" %}

<div class="container s-container">

    {% include "visiosoft.theme.base::partials/categories-s" %}

    <div class="col-sm-9 s-home-show">
        <div class="row s-home-showcase">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center s-home-banner hidden-xs">
                <div class="col-md-12 hidden-xs">
                    {% set banner_default = img('visiosoft.theme.base::images/s-home-banner-web.png').url %}
                    {{ setting_value('visiosoft.default.visiosoft.theme.base::s-type-banner-code','<img src="'~banner_default~'"/>')|raw }}
                </div>
            </div>
            {% include "visiosoft.theme.base::partials/home-showcase-s" %}
            <div class="col-md-12 s-container">
                {% include "visiosoft.theme.base::partials/home-latest-s" %}
            </div>

        </div>
    </div>
</div>
