{% if app.request.get('user') != null or app.request.get('user') != "" %}
    {% set store = entries('store','store').where('user_id', user.id).first() %}
    {% if store is not null %}
        {% if store.store_banner is null %}
            {% set background_image = img('visiosoft.module.advs::images/user_section_back.png').url %}
        {% else %}
            {% set background_image =  store.store_banner.url %}
        {% endif %}
        <div class="col-md-12 upper-list-banner" style="background-image: url('{{ background_image }}');">
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <div class="card m-4">
                        <img src="{{ store.file.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-0">{{ store.name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}