APP_NAME=OpenClassify
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
OC_THEME=otoplus
OC_THEME_LISTING=otoplus
OC_THEME_CATEGORY=otoplus

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=openclassify
# DB_USERNAME=openclassify
# DB_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=s3
MEDIA_DISK=s3
LOCAL_MEDIA_DISK=public
CLOUD_MEDIA_DISK=s3
QUEUE_CONNECTION=database

CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@openclassify.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=2OR5YLAPW0UN0O45A20L
AWS_SECRET_ACCESS_KEY=bceTprhHHl3GZFMq9ii80hjvN6JRppQzA4JsFCCr
AWS_DEFAULT_REGION=hel1
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=https://hel1.your-objectstorage.com
AWS_USE_PATH_STYLE_ENDPOINT=false

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

VITE_APP_NAME="${APP_NAME}"

OPENAI_API_KEY=
GEMINI_API_KEY=
QUICK_LISTING_AI_PROVIDER=openai
QUICK_LISTING_AI_MODEL=gpt-5.2


DEMO=0
DEMO_TTL_MINUTES=360
DEMO_TURNSTILE_ENABLED=0
TURNSTILE_SITE_KEY=0x4AAAAAACogGCt62w6ahqM4
TURNSTILE_SECRET_KEY=0x4AAAAAACogGLdg-1mydGAW8FT_He6DTI8
TURNSTILE_TIMEOUT_SECONDS=8
