<div id="swipeTableModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" onclick="$('#swipeTableModal').modal('hide');">
            <img src="{{ img('visiosoft.theme.base::images/scroll-screen.gif').url }}">
            <p>{{ trans('visiosoft.theme.base::fields.scroll-screen-for-details') }}</p>
            <button>{{ trans('visiosoft.theme.base::fields.close') }}</button>
        </div>
    </div>
</div>
{{ asset_add("scripts.js", "visiosoft.theme.base::js/scroll-screen.js") }}
