<a href="{{ url_route('favs::favorites') }}" class="modal-item ">
    {{ img('visiosoft.theme.restate::images/icons/favs-dropdown.svg').data|raw }}
    <span>{{ trans('visiosoft.module.favs::field.favs') }}</span>
</a>