<a href="{{ route('orders::purchase') }}" class="modal-item pb-4">
    {{ img('visiosoft.theme.restate::images/icons/orders-dropdown.svg').data|raw }}
    <span>{{ trans('visiosoft.module.orders::field.orders') }}</span>
</a>