vedat.social {
  display: flex;
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid #f4f4f4;
    border-radius: 4px;
    margin: 0 5px;
    color: black;
  }
}

.productImage {
  max-height: 700px;
  overflow: hidden;
}

.bgSpecial_2 {
  background-color: #516eab;
}

.bgSpecial_3 {
  background-color: #29c5f6;
}

.bgSpecial_4 {
  background-color: #eb4026;
}

.bgSpecial_5 {
  background-color: #ca212a;
}

.paddingSpecial {
  padding: 13px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positionSpecial {
  position: relative;
  top: -100px;
  @media (max-width: 768px) {
    top: 0;
  }
}

// POST LIST
.textBlack {
  color: black;
  &:hover {
    color: black;
  }
}

.bannerImage_2 {
  img {
    width: 100%;
    height: 235px;
    object-fit: cover;
  }
}

.lineGap_2 {
  width: 100%;
  height: 2px;
  background: #fa0f19;
}

.bgForLight {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 99999;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.z-index {
  z-index: 9999999999;
}

.fs-17px {
  font-size: 17px;
  @media (max-width:992px) {
    font-size: 14px;
  }
}

.bgSpecial_6 {
  background-color: black;
}

.ImageWidth {
  max-width: 80px;
}

.w-fit {
  width: fit-content;
}

.fs-26 {
  font-size: 26px;
}

.fs-10 {
  font-size: 10px;
}

.left-zero {
  left: 0;
}

.bottom-zero {
  bottom: 0;
}

.slick-arrow {
  width: auto;
  height: auto;
}

.slick-next {
  right: -40px;
  @media (max-width: 768px){
    right: 15px;
  }
}

.slick-prev {
  left: -40px;
  z-index: 9999999;
  @media (max-width: 768px) {
    left: 15px;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 40px;
  opacity: 1;
  @media (max-width: 768px) {
    color: white;
  }
}
