<a class="nav-item nav-link bg-secondary" id="nav-streetview-tab"
   data-toggle="tab" href="#nav-streetview" role="tab"
   aria-controls="nav-streetview"
   aria-selected="true">{{ trans('visiosoft.module.streetview::addon.title') }}</a>
