{% extends layout('users') %}

{% block content %}
    <div class="container">

        <div class="col-lg-6 col-lg-offset-3">
            {{ form('reset_password') }}
        </div>

    </div>
{% endblock %}
