<a href="{{ url_route('profile::ads') }}" class="d-block text-decoration-none fs-14 text-dark color-5 py-2 hover-2 px-2 rounded font-weight-bold">
    {{ trans('visiosoft.theme.hepsiemlak::field.my_ads') }}
</a>
