<a class="btn btn-danger px-4 mr-2" href="{{ setting_value("visiosoft.theme.sahibinden::share_after_new_ad") ? redirectLink~'?share_ad=true' : redirectLink }}">
    {{ trans('visiosoft.module.dopings::field.i_dont_want') }}
</a>

<button type="submit" name="action" value="save" class="btn text-white px-4">
    {{ trans('visiosoft.module.dopings::field.buy') }}
</button>