<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">
        {{ trans('anomaly.module.blocks::message.choose_block') }}
    </h4>
</div>

<div class="modal-body">

    {% include "streams::modals/filter" %}

    <ul class="nav nav-pills nav-stacked">
        {% for slug, category in categories %}
            {% if slug == 'all' or category.count > 0 %}
                <li class="nav-item">
                    <a href="{{ url_to('admin/blocks/areas/' ~ route_parameter('area') ~ '/choose?category=' ~ slug) }}"
                       class="nav-link ajax">
                        <strong>{{ trans(category.name) }}</strong>
                        <br>
                        <small>{{ trans(category.description) }}</small>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
