<li class="tab-element">
    <a href="#nav-comments"
       data-toggle="tab"
       role="tab"
       aria-controls="nav-comments"
       aria-selected="true"
       id="nav-comments-tab"
       class="nav-item nav-link tab-link p-0">
        {{ trans('visiosoft.module.comments::addon.title') }}
    </a>
</li>
