{% extends layout('users') %}

{% block content %}
    <section id="main" class="clearfix user-page">
        <div class="container">
            <div class="row text-center">
                <!-- user-login -->
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="user-account">
                        {% include "theme::partials/messages" %}
                        <h2>Password Reset</h2>
                        <!-- form -->
                        {% set form = form('reset_password').get()  %}
                        {{ form.open()|raw }}
                        <input type="email" value="" name="email" placeholder="Email" class="form-control" data-field="email" data-field_name="email" data-provides="anomaly.field_type.email">
                        <input value="{{ code }}" name="code" data-max="255" data-mask="" data-alias="" data-regex="" type="hidden" placeholder="Email Code" class="form-control" data-field="code" data-field_name="code" data-provides="anomaly.field_type.text" >
                        <input value="" name="password" data-max="255" data-mask="" data-alias="" data-regex="" type="password" placeholder="Password" class="form-control" data-field="password" data-field_name="password" data-provides="anomaly.field_type.text" >
                        <input value="" name="password_confirmation" data-max="255" data-mask="" data-alias="" data-regex="" type="password" placeholder="Password Confirm" class="form-control" data-field="password_confirmation" data-field_name="password_confirmation" data-provides="anomaly.field_type.text" >
                        {{ form.actions|raw }}
                        {{ form.close()|raw }}
                    </div>
                </div><!-- user-login -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- signin-page -->
{% endblock %}
