{{ asset_add("styles.css", "visiosoft.field_type.media::css/imgList.css") }}
{{ asset_add('scripts.js', 'visiosoft.field_type.media::js/input.js') }}
                <div class="row">
                    {% for row in table.rows %}
                        <div class="col-xs-12 col-sm-3 ads-box-image">
                        <div class="card text-center">
                            <a class="img-card">
                                <img class="ads-responsive-image" height="114px" src="{{ url('files/' ~ row.columns.0.value) }}" alt="" />
                            </a>
                            <div class="card-read-more text-center">
                                    {{ buttons(row.buttons)|raw }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>