{% extends "theme::layouts/default" %}
{% block content %}
    <section id="main" class="clearfix user-page">
        <div class="container">
            <div class="row text-center">
                <!-- user-login -->
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="user-account">
                        {% include "theme::partials/messages" %}
                        <h2>Create an Account</h2>
                        {% set form = form('register2').redirect(request_get('redirect', '/')).get()  %}
                            {{ form.open()|raw }}
                            <div class="form-group">
                                <input value="" name="display_name" data-max="255" data-mask="" data-alias="" data-regex="" type="text" placeholder="Display Name" class="form-control" data-field="display_name" data-field_name="display_name" data-provides="anomaly.field_type.text">
                            </div>
                            <div class="form-group">
                                <input type="text" value="" name="username" data-type="_" placeholder="Phone Number (+905555555555)" data-slugify="" data-always_slugify="" data-lowercase="" class="form-control" data-field="username" data-field_name="username" data-provides="anomaly.field_type.slug" data-initialized="">                            </div>
                            <div class="form-group">
                                <input type="email" value="" name="email" placeholder="Email" class="form-control" data-field="email" data-field_name="email" data-provides="anomaly.field_type.email">                            </div>
                            <div class="form-group">
                                <input value="" name="password" data-max="255" data-mask="" data-alias="" data-regex="" type="password" placeholder="Password" class="form-control" data-field="password" data-field_name="password" data-provides="anomaly.field_type.text">                            </div>
                            <input value="{{ request_get('ref')}}" name="ref_no" type="hidden">
                            {{ form.actions|raw }}
                        {{ form.close()|raw }}
                    </div>
                </div><!-- user-login -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- signup-page -->
{% endblock %}