<div class="nav-item nav-link bg-secondary text-white comment-header card mt-4 mb-5">
	{{ trans('visiosoft.module.comments::addon.title') }}
</div>

{% include 'visiosoft.module.comments::comments' %}