<div class="breadcrumb-section">
    <ol class="breadcrumb">
        <li><a href="/">{{ trans("visiosoft.module.advs::field.home") }}</a></li>
        {% if app.request.get('cat') %}
            {% for category_breadcrumbs in mainCats.first.getMains(app.request.get('cat')) %}
                <li>
                    <a href="{{ url_route('visiosoft.module.advs::list_cat', [category_breadcrumbs.id]) }}">{{ category_breadcrumbs.val }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ol>
    {% if app.request.get('cat') %}
        <h2 class="title">{{ mainCats.first.getCategoryName(app.request.get('cat')) }}</h2>
    {% endif %}
</div>