<div class="cta">
    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-secure">
            <img src="{{ img('visiosoft.theme.base::images/icon/13.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->

        <h4>Secure Trading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div><!-- single-cta -->

    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-support">
            <img src="{{ img('visiosoft.theme.base::images/icon/14.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->

        <h4>24/7 Support</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div><!-- single-cta -->


    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-trading">
            <img src="{{ img('visiosoft.theme.base::images/icon/15.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->

        <h4>Easy Trading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div><!-- single-cta -->

    <!-- single-cta -->
    <div class="single-cta">
        <h5>Need help?</h5>
        <p><span>Give a call on</span><a
                    href="tellto:08048100000"> 08048100000</a></p>
    </div><!-- single-cta -->
</div>