<div class="cta">
    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-secure">
            <img src="{{ img('theme::images/icon/13.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->

        <h4>Güvenli Ticaret</h4>
        <p>Kolay, Güvenli ve Avantajlı Alışveriş için</p>
    </div><!-- single-cta -->

    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-support">
            <img src="{{ img('theme::images/icon/14.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->

        <h4>7/24 Saat Destek</h4>
        <p>Hızlı ve Kolay çözüm imkanı</p>
    </div><!-- single-cta -->


    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-trading">
            <img src="{{ img('theme::images/icon/15.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->

        <h4>Kolay Alışveriş</h4>
        <p>Çoklu dil desteği ve Çoklu Para Birimi</p>
    </div><!-- single-cta -->

    <!-- single-cta -->
    <div class="single-cta">
        <!-- cta-icon -->
        <div class="cta-icon icon-trading">
            <img src="{{ img('theme::images/icon/14.png').url }}" alt="Icon"
                 class="img-responsive">
        </div><!-- cta-icon -->
        <h5>Yardıma mı ihtiyacınız var?</h5>
        <p><span>Hemen Arayın</span><a
                    href="tellto:08048100000"> 08048100000</a></p>
    </div><!-- single-cta -->
</div>