body {
    height: 100vh;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%);
}

.color-error-message {
    color: #555555;
}

.error-image {
    max-width: 400px;
}

.error-btn-home {
    color: #212529 !important;
    font-weight: bold;
    border: 2px solid #555555 !important;
    text-decoration: none !important;
}