.product-hb {
    height: 500px;
    margin-bottom: 20px;
}

.heart-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 18px;
    color: rgb(109, 109, 109);
    background-color: rgb(245, 245, 245);
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}

.product-image-hb {
    display: flex;
    justify-content: center;
    width:100%;
    height: 500px;
    padding: 10px;
}

.product-image-in {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 6px;
}

.product-name-hb {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0;
    font-weight: normal;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-price-hb {
    font-size: 24px;
    font-weight:bolder;
    height: 50px;
}
@media screen and (max-width: 766px) {
    .product-price-hb {
        font-size: 24px;
        font-weight:bolder;
        height: 50px;
    }
    .product-info-hb>button{
        position: inherit !important;
        width: 100%;
    }
    #listingWrapper{
        border:none !important;
    }
    .product-hb{
        border:none !important;
        box-shadow: none !important;
    }
    .review{
        height: auto;
    }

    .review>p{
        display: none;
    }


}
.fs-14{
    font-size: 14px;
}


.product-price-hb~p{
    font-size:.7em;
}
.review{
    height: 32px;
}

.gallery-card:hover>.product-info-hb>.review>button{
    display:block !important;
}
.gallery-card:hover>.product-info-hb>.review>p{
    display: none;

.imgs{
    position: relative;
}
.ads-img{
    position:inherit;
}
.imgs .ads-img {
    width: 100%;
    height: 100%;
    display: none;
}
.imgs .ads-img:first-child {
    display: flex;
}
.hover-area{
    position: absolute;
    display: flex;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
}
.hover-0 {
    width: 33%;
    height: 100%;
}
.hover-1 {
    width: 33%;
    height: 100%;
}
.hover-2 {
    width: 33%;
    height: 100%;
}