#main {
    margin: 3rem 0;
}

.hidden {
    display: none;
}

.table-img-100 {
    max-width: 100px;
}

.loading {
    background-image: url("{{ img('visiosoft.theme.base::images/loading.gif').url }}");
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .login-section,
    .register-section {
        padding: 100px 50px;
    }
}

.product-hb {
    font-family: -apple-system,
    BlinkMacSystemFont,
    Arial,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif !important;
    height: 315px;
    margin-bottom: 20px;
}

.heart-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 18px;
    color: rgb(109, 109, 109);
    background-color: rgb(245, 245, 245);
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
}

.product-image-hb {
    display: flex;
    justify-content: center;
    height: 190px;
}

.product-image-in {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-name-hb {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 0;
    overflow: hidden;
    -webkit-line-clamp: 2;
    height: 36px;
    font-weight: normal;
}

.product-price-hb {
    font-size: 18px;
}

.tl-span {
    font-size: 14px;
}

.like {
    color: rgb(109, 109, 109) !important;
}

.unlike {
    color: red !important;
}
