{% extends "visiosoft.theme.base::layouts/default" %}

{% block content %}

	<section id="main" class="clearfix text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="found-section section">
						<h1>404</h1>
						<h2>Page Not Found</h2>
						<p>We can't seem to find the page you're looking for.</p>
						<a href="/" class="btn btn-primary">Go to Home</a>
					</div>					
				</div>
			</div>
		</div><!-- container -->
	</section><!-- main -->

{% endblock %}
