<footer id="footer">
    <div class="container text-center text-muted">

        {#&copy;{{ 'now'|date('Y') }} {{ setting_value('streams::name', 'Your Site') }}, All rights reserved.#}
        &copy;{{ 'now'|date('Y') }} Your Company, All rights reserved.

    </div>
</footer>
