<div id="s-search-mobile-modal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form action="{{ url('advs/list') }}" method="get">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><i class="fas fa-search"></i> <b>Search</b></h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% set SearchPlaceHolder = entries('cats','placeholderforsearch').get() %}
                        <input type="text" name="keyword" data-period="2000"
                               data-type='[{% for placeholder in SearchPlaceHolder %}"{{ placeholder.name }}","...",{% endfor %}"..."]'
                               class="form-control search-ac" placeholder=" Type your key word"
                               id="search_ac_navigator">
                        <input type="hidden" value="{{ cats[0].id }}" name="cat"
                               id="searchable_category_input" class="select-category-navigation-id">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                </div>
            </form>
        </div>
    </div>
</div>