{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}

    {{ asset_add('styles.css', 'anomaly.module.dashboard::css/dashboard.css') }}
    {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/dashboard.js') }}

    <div id="dashboard">
        <div class="container-fluid">

            {% include "module::admin/dashboards/partials/navbar" %}
            {% include "module::admin/dashboards/partials/columns" %}

        </div>
    </div>

{% endblock %}
