#main {
  direction: rtl;
  margin-left: 0px;
  margin-right: 240px;
}

@media (max-width: 991px) {
  #main {
    margin-left: auto;
    margin-right: 0;
  }
}
#topbar .topbar-left {
  float: right;
}
#topbar .button-menu {
  float: right;
}
#topbar .navbar-form {
  float: right;
}
#topbar .navbar-default .navbar-nav {
  float: left;
}
#topbar .dropdown-menu .dropdown-item i {
  margin-top: 6px;
  float: right;
  margin-right: 0;
  margin-left: 0.4rem;
}

body.expand #topbar .topbar-left .logo span {
  margin-left: 4px;
}

#sidebar {
  right: 0;
  direction: rtl;
}
#sidebar > ul > li > a .title {
  margin-left: 0;
  margin-right: 8px;
}
#sidebar > ul > li.active {
  border-left: none;
  border-right: 3px solid #ffffff;
}
#sidebar > ul > li.active a {
  margin-left: 0;
  margin-right: -3px;
}

#sidebar.open a {
  text-align: right;
  padding-left: 10px;
  padding-right: 25px;
}

#menu {
  right: 70px;
  left: auto;
  box-shadow: -2px 0 0 rgba(66, 66, 66, 0.1);
}
#menu > ul {
  padding: 0;
  margin-bottom: 70px;
}
#menu > ul > li > a span {
  margin-left: 7px;
}
#menu > ul > li ul {
  list-style: none;
  padding-right: 0.5rem;
  padding-left: 0;
  margin-right: 1.25rem;
  margin-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.065);
  border-left: none;
}

@media (max-width: 991px) {
  #menu {
    width: 0;
  }

  body.expand #menu {
    right: 240px !important;
    left: auto !important;
  }
}
@media (max-width: 767px) {
  body.expand #menu {
    left: auto !important;
    right: 50% !important;
  }
}
#footer {
  direction: rtl;
  margin-left: 0;
  margin-right: 240px;
}
#footer ul.extra {
  float: left;
}
#footer ul li:not(:last-child) {
  margin-right: 0;
  margin-left: 0.75em;
}
#footer ul li.logo {
  margin-right: 0;
  margin-left: 1em;
}
#footer ul li.footprint {
  direction: ltr;
}

@media (max-width: 991px) {
  #footer {
    margin-right: 0;
  }
}
html,
body {
  direction: rtl;
  text-align: right;
}

* {
  text-align: right;
}

.modal-title {
  padding-left: 3rem;
  padding-right: 0;
}

.form .controls .buttons {
  float: left;
}

ul.tree {
  padding-right: 0;
}
ul.tree li .card {
  padding-right: 0;
  padding-left: 4px;
}
ul.tree li .card .buttons {
  float: left;
}

.bootstrap-tagsinput {
  text-align: right;
}
.bootstrap-tagsinput .tag {
  margin: 1px 0px 1px 5px;
}

.pull-xs-0 {
  right: auto;
  left: auto;
}

.pull-xs-1 {
  right: auto;
  left: 4.1666666667%;
}

.pull-xs-2 {
  right: auto;
  left: 8.3333333333%;
}

.pull-xs-3 {
  right: auto;
  left: 12.5%;
}

.pull-xs-4 {
  right: auto;
  left: 16.6666666667%;
}

.pull-xs-5 {
  right: auto;
  left: 20.8333333333%;
}

.pull-xs-6 {
  right: auto;
  left: 25%;
}

.pull-xs-7 {
  right: auto;
  left: 29.1666666667%;
}

.pull-xs-8 {
  right: auto;
  left: 33.3333333333%;
}

.pull-xs-9 {
  right: auto;
  left: 37.5%;
}

.pull-xs-10 {
  right: auto;
  left: 41.6666666667%;
}

.pull-xs-11 {
  right: auto;
  left: 45.8333333333%;
}

.pull-xs-12 {
  right: auto;
  left: 50%;
}

.pull-xs-13 {
  right: auto;
  left: 54.1666666667%;
}

.pull-xs-14 {
  right: auto;
  left: 58.3333333333%;
}

.pull-xs-15 {
  right: auto;
  left: 62.5%;
}

.pull-xs-16 {
  right: auto;
  left: 66.6666666667%;
}

.pull-xs-17 {
  right: auto;
  left: 70.8333333333%;
}

.pull-xs-18 {
  right: auto;
  left: 75%;
}

.pull-xs-19 {
  right: auto;
  left: 79.1666666667%;
}

.pull-xs-20 {
  right: auto;
  left: 83.3333333333%;
}

.pull-xs-21 {
  right: auto;
  left: 87.5%;
}

.pull-xs-22 {
  right: auto;
  left: 91.6666666667%;
}

.pull-xs-23 {
  right: auto;
  left: 95.8333333333%;
}

.pull-xs-24 {
  right: auto;
  left: 100%;
}

.push-xs-0 {
  left: auto;
  right: auto;
}

.push-xs-1 {
  left: auto;
  right: 4.1666666667%;
}

.push-xs-2 {
  left: auto;
  right: 8.3333333333%;
}

.push-xs-3 {
  left: auto;
  right: 12.5%;
}

.push-xs-4 {
  left: auto;
  right: 16.6666666667%;
}

.push-xs-5 {
  left: auto;
  right: 20.8333333333%;
}

.push-xs-6 {
  left: auto;
  right: 25%;
}

.push-xs-7 {
  left: auto;
  right: 29.1666666667%;
}

.push-xs-8 {
  left: auto;
  right: 33.3333333333%;
}

.push-xs-9 {
  left: auto;
  right: 37.5%;
}

.push-xs-10 {
  left: auto;
  right: 41.6666666667%;
}

.push-xs-11 {
  left: auto;
  right: 45.8333333333%;
}

.push-xs-12 {
  left: auto;
  right: 50%;
}

.push-xs-13 {
  left: auto;
  right: 54.1666666667%;
}

.push-xs-14 {
  left: auto;
  right: 58.3333333333%;
}

.push-xs-15 {
  left: auto;
  right: 62.5%;
}

.push-xs-16 {
  left: auto;
  right: 66.6666666667%;
}

.push-xs-17 {
  left: auto;
  right: 70.8333333333%;
}

.push-xs-18 {
  left: auto;
  right: 75%;
}

.push-xs-19 {
  left: auto;
  right: 79.1666666667%;
}

.push-xs-20 {
  left: auto;
  right: 83.3333333333%;
}

.push-xs-21 {
  left: auto;
  right: 87.5%;
}

.push-xs-22 {
  left: auto;
  right: 91.6666666667%;
}

.push-xs-23 {
  left: auto;
  right: 95.8333333333%;
}

.push-xs-24 {
  left: auto;
  right: 100%;
}

.offset-xs-1 {
  margin-left: inherit;
  margin-right: 4.1666666667%;
}

.offset-xs-2 {
  margin-left: inherit;
  margin-right: 8.3333333333%;
}

.offset-xs-3 {
  margin-left: inherit;
  margin-right: 12.5%;
}

.offset-xs-4 {
  margin-left: inherit;
  margin-right: 16.6666666667%;
}

.offset-xs-5 {
  margin-left: inherit;
  margin-right: 20.8333333333%;
}

.offset-xs-6 {
  margin-left: inherit;
  margin-right: 25%;
}

.offset-xs-7 {
  margin-left: inherit;
  margin-right: 29.1666666667%;
}

.offset-xs-8 {
  margin-left: inherit;
  margin-right: 33.3333333333%;
}

.offset-xs-9 {
  margin-left: inherit;
  margin-right: 37.5%;
}

.offset-xs-10 {
  margin-left: inherit;
  margin-right: 41.6666666667%;
}

.offset-xs-11 {
  margin-left: inherit;
  margin-right: 45.8333333333%;
}

.offset-xs-12 {
  margin-left: inherit;
  margin-right: 50%;
}

.offset-xs-13 {
  margin-left: inherit;
  margin-right: 54.1666666667%;
}

.offset-xs-14 {
  margin-left: inherit;
  margin-right: 58.3333333333%;
}

.offset-xs-15 {
  margin-left: inherit;
  margin-right: 62.5%;
}

.offset-xs-16 {
  margin-left: inherit;
  margin-right: 66.6666666667%;
}

.offset-xs-17 {
  margin-left: inherit;
  margin-right: 70.8333333333%;
}

.offset-xs-18 {
  margin-left: inherit;
  margin-right: 75%;
}

.offset-xs-19 {
  margin-left: inherit;
  margin-right: 79.1666666667%;
}

.offset-xs-20 {
  margin-left: inherit;
  margin-right: 83.3333333333%;
}

.offset-xs-21 {
  margin-left: inherit;
  margin-right: 87.5%;
}

.offset-xs-22 {
  margin-left: inherit;
  margin-right: 91.6666666667%;
}

.offset-xs-23 {
  margin-left: inherit;
  margin-right: 95.8333333333%;
}

@media (min-width: 576px) {
  .pull-sm-0 {
    right: auto;
    left: auto;
  }

  .pull-sm-1 {
    right: auto;
    left: 4.1666666667%;
  }

  .pull-sm-2 {
    right: auto;
    left: 8.3333333333%;
  }

  .pull-sm-3 {
    right: auto;
    left: 12.5%;
  }

  .pull-sm-4 {
    right: auto;
    left: 16.6666666667%;
  }

  .pull-sm-5 {
    right: auto;
    left: 20.8333333333%;
  }

  .pull-sm-6 {
    right: auto;
    left: 25%;
  }

  .pull-sm-7 {
    right: auto;
    left: 29.1666666667%;
  }

  .pull-sm-8 {
    right: auto;
    left: 33.3333333333%;
  }

  .pull-sm-9 {
    right: auto;
    left: 37.5%;
  }

  .pull-sm-10 {
    right: auto;
    left: 41.6666666667%;
  }

  .pull-sm-11 {
    right: auto;
    left: 45.8333333333%;
  }

  .pull-sm-12 {
    right: auto;
    left: 50%;
  }

  .pull-sm-13 {
    right: auto;
    left: 54.1666666667%;
  }

  .pull-sm-14 {
    right: auto;
    left: 58.3333333333%;
  }

  .pull-sm-15 {
    right: auto;
    left: 62.5%;
  }

  .pull-sm-16 {
    right: auto;
    left: 66.6666666667%;
  }

  .pull-sm-17 {
    right: auto;
    left: 70.8333333333%;
  }

  .pull-sm-18 {
    right: auto;
    left: 75%;
  }

  .pull-sm-19 {
    right: auto;
    left: 79.1666666667%;
  }

  .pull-sm-20 {
    right: auto;
    left: 83.3333333333%;
  }

  .pull-sm-21 {
    right: auto;
    left: 87.5%;
  }

  .pull-sm-22 {
    right: auto;
    left: 91.6666666667%;
  }

  .pull-sm-23 {
    right: auto;
    left: 95.8333333333%;
  }

  .pull-sm-24 {
    right: auto;
    left: 100%;
  }

  .push-sm-0 {
    left: auto;
    right: auto;
  }

  .push-sm-1 {
    left: auto;
    right: 4.1666666667%;
  }

  .push-sm-2 {
    left: auto;
    right: 8.3333333333%;
  }

  .push-sm-3 {
    left: auto;
    right: 12.5%;
  }

  .push-sm-4 {
    left: auto;
    right: 16.6666666667%;
  }

  .push-sm-5 {
    left: auto;
    right: 20.8333333333%;
  }

  .push-sm-6 {
    left: auto;
    right: 25%;
  }

  .push-sm-7 {
    left: auto;
    right: 29.1666666667%;
  }

  .push-sm-8 {
    left: auto;
    right: 33.3333333333%;
  }

  .push-sm-9 {
    left: auto;
    right: 37.5%;
  }

  .push-sm-10 {
    left: auto;
    right: 41.6666666667%;
  }

  .push-sm-11 {
    left: auto;
    right: 45.8333333333%;
  }

  .push-sm-12 {
    left: auto;
    right: 50%;
  }

  .push-sm-13 {
    left: auto;
    right: 54.1666666667%;
  }

  .push-sm-14 {
    left: auto;
    right: 58.3333333333%;
  }

  .push-sm-15 {
    left: auto;
    right: 62.5%;
  }

  .push-sm-16 {
    left: auto;
    right: 66.6666666667%;
  }

  .push-sm-17 {
    left: auto;
    right: 70.8333333333%;
  }

  .push-sm-18 {
    left: auto;
    right: 75%;
  }

  .push-sm-19 {
    left: auto;
    right: 79.1666666667%;
  }

  .push-sm-20 {
    left: auto;
    right: 83.3333333333%;
  }

  .push-sm-21 {
    left: auto;
    right: 87.5%;
  }

  .push-sm-22 {
    left: auto;
    right: 91.6666666667%;
  }

  .push-sm-23 {
    left: auto;
    right: 95.8333333333%;
  }

  .push-sm-24 {
    left: auto;
    right: 100%;
  }

  .offset-sm-0 {
    margin-left: inherit;
    margin-right: 0%;
  }

  .offset-sm-1 {
    margin-left: inherit;
    margin-right: 4.1666666667%;
  }

  .offset-sm-2 {
    margin-left: inherit;
    margin-right: 8.3333333333%;
  }

  .offset-sm-3 {
    margin-left: inherit;
    margin-right: 12.5%;
  }

  .offset-sm-4 {
    margin-left: inherit;
    margin-right: 16.6666666667%;
  }

  .offset-sm-5 {
    margin-left: inherit;
    margin-right: 20.8333333333%;
  }

  .offset-sm-6 {
    margin-left: inherit;
    margin-right: 25%;
  }

  .offset-sm-7 {
    margin-left: inherit;
    margin-right: 29.1666666667%;
  }

  .offset-sm-8 {
    margin-left: inherit;
    margin-right: 33.3333333333%;
  }

  .offset-sm-9 {
    margin-left: inherit;
    margin-right: 37.5%;
  }

  .offset-sm-10 {
    margin-left: inherit;
    margin-right: 41.6666666667%;
  }

  .offset-sm-11 {
    margin-left: inherit;
    margin-right: 45.8333333333%;
  }

  .offset-sm-12 {
    margin-left: inherit;
    margin-right: 50%;
  }

  .offset-sm-13 {
    margin-left: inherit;
    margin-right: 54.1666666667%;
  }

  .offset-sm-14 {
    margin-left: inherit;
    margin-right: 58.3333333333%;
  }

  .offset-sm-15 {
    margin-left: inherit;
    margin-right: 62.5%;
  }

  .offset-sm-16 {
    margin-left: inherit;
    margin-right: 66.6666666667%;
  }

  .offset-sm-17 {
    margin-left: inherit;
    margin-right: 70.8333333333%;
  }

  .offset-sm-18 {
    margin-left: inherit;
    margin-right: 75%;
  }

  .offset-sm-19 {
    margin-left: inherit;
    margin-right: 79.1666666667%;
  }

  .offset-sm-20 {
    margin-left: inherit;
    margin-right: 83.3333333333%;
  }

  .offset-sm-21 {
    margin-left: inherit;
    margin-right: 87.5%;
  }

  .offset-sm-22 {
    margin-left: inherit;
    margin-right: 91.6666666667%;
  }

  .offset-sm-23 {
    margin-left: inherit;
    margin-right: 95.8333333333%;
  }
}
@media (min-width: 768px) {
  .pull-md-0 {
    right: auto;
    left: auto;
  }

  .pull-md-1 {
    right: auto;
    left: 4.1666666667%;
  }

  .pull-md-2 {
    right: auto;
    left: 8.3333333333%;
  }

  .pull-md-3 {
    right: auto;
    left: 12.5%;
  }

  .pull-md-4 {
    right: auto;
    left: 16.6666666667%;
  }

  .pull-md-5 {
    right: auto;
    left: 20.8333333333%;
  }

  .pull-md-6 {
    right: auto;
    left: 25%;
  }

  .pull-md-7 {
    right: auto;
    left: 29.1666666667%;
  }

  .pull-md-8 {
    right: auto;
    left: 33.3333333333%;
  }

  .pull-md-9 {
    right: auto;
    left: 37.5%;
  }

  .pull-md-10 {
    right: auto;
    left: 41.6666666667%;
  }

  .pull-md-11 {
    right: auto;
    left: 45.8333333333%;
  }

  .pull-md-12 {
    right: auto;
    left: 50%;
  }

  .pull-md-13 {
    right: auto;
    left: 54.1666666667%;
  }

  .pull-md-14 {
    right: auto;
    left: 58.3333333333%;
  }

  .pull-md-15 {
    right: auto;
    left: 62.5%;
  }

  .pull-md-16 {
    right: auto;
    left: 66.6666666667%;
  }

  .pull-md-17 {
    right: auto;
    left: 70.8333333333%;
  }

  .pull-md-18 {
    right: auto;
    left: 75%;
  }

  .pull-md-19 {
    right: auto;
    left: 79.1666666667%;
  }

  .pull-md-20 {
    right: auto;
    left: 83.3333333333%;
  }

  .pull-md-21 {
    right: auto;
    left: 87.5%;
  }

  .pull-md-22 {
    right: auto;
    left: 91.6666666667%;
  }

  .pull-md-23 {
    right: auto;
    left: 95.8333333333%;
  }

  .pull-md-24 {
    right: auto;
    left: 100%;
  }

  .push-md-0 {
    left: auto;
    right: auto;
  }

  .push-md-1 {
    left: auto;
    right: 4.1666666667%;
  }

  .push-md-2 {
    left: auto;
    right: 8.3333333333%;
  }

  .push-md-3 {
    left: auto;
    right: 12.5%;
  }

  .push-md-4 {
    left: auto;
    right: 16.6666666667%;
  }

  .push-md-5 {
    left: auto;
    right: 20.8333333333%;
  }

  .push-md-6 {
    left: auto;
    right: 25%;
  }

  .push-md-7 {
    left: auto;
    right: 29.1666666667%;
  }

  .push-md-8 {
    left: auto;
    right: 33.3333333333%;
  }

  .push-md-9 {
    left: auto;
    right: 37.5%;
  }

  .push-md-10 {
    left: auto;
    right: 41.6666666667%;
  }

  .push-md-11 {
    left: auto;
    right: 45.8333333333%;
  }

  .push-md-12 {
    left: auto;
    right: 50%;
  }

  .push-md-13 {
    left: auto;
    right: 54.1666666667%;
  }

  .push-md-14 {
    left: auto;
    right: 58.3333333333%;
  }

  .push-md-15 {
    left: auto;
    right: 62.5%;
  }

  .push-md-16 {
    left: auto;
    right: 66.6666666667%;
  }

  .push-md-17 {
    left: auto;
    right: 70.8333333333%;
  }

  .push-md-18 {
    left: auto;
    right: 75%;
  }

  .push-md-19 {
    left: auto;
    right: 79.1666666667%;
  }

  .push-md-20 {
    left: auto;
    right: 83.3333333333%;
  }

  .push-md-21 {
    left: auto;
    right: 87.5%;
  }

  .push-md-22 {
    left: auto;
    right: 91.6666666667%;
  }

  .push-md-23 {
    left: auto;
    right: 95.8333333333%;
  }

  .push-md-24 {
    left: auto;
    right: 100%;
  }

  .offset-md-0 {
    margin-left: inherit;
    margin-right: 0%;
  }

  .offset-md-1 {
    margin-left: inherit;
    margin-right: 4.1666666667%;
  }

  .offset-md-2 {
    margin-left: inherit;
    margin-right: 8.3333333333%;
  }

  .offset-md-3 {
    margin-left: inherit;
    margin-right: 12.5%;
  }

  .offset-md-4 {
    margin-left: inherit;
    margin-right: 16.6666666667%;
  }

  .offset-md-5 {
    margin-left: inherit;
    margin-right: 20.8333333333%;
  }

  .offset-md-6 {
    margin-left: inherit;
    margin-right: 25%;
  }

  .offset-md-7 {
    margin-left: inherit;
    margin-right: 29.1666666667%;
  }

  .offset-md-8 {
    margin-left: inherit;
    margin-right: 33.3333333333%;
  }

  .offset-md-9 {
    margin-left: inherit;
    margin-right: 37.5%;
  }

  .offset-md-10 {
    margin-left: inherit;
    margin-right: 41.6666666667%;
  }

  .offset-md-11 {
    margin-left: inherit;
    margin-right: 45.8333333333%;
  }

  .offset-md-12 {
    margin-left: inherit;
    margin-right: 50%;
  }

  .offset-md-13 {
    margin-left: inherit;
    margin-right: 54.1666666667%;
  }

  .offset-md-14 {
    margin-left: inherit;
    margin-right: 58.3333333333%;
  }

  .offset-md-15 {
    margin-left: inherit;
    margin-right: 62.5%;
  }

  .offset-md-16 {
    margin-left: inherit;
    margin-right: 66.6666666667%;
  }

  .offset-md-17 {
    margin-left: inherit;
    margin-right: 70.8333333333%;
  }

  .offset-md-18 {
    margin-left: inherit;
    margin-right: 75%;
  }

  .offset-md-19 {
    margin-left: inherit;
    margin-right: 79.1666666667%;
  }

  .offset-md-20 {
    margin-left: inherit;
    margin-right: 83.3333333333%;
  }

  .offset-md-21 {
    margin-left: inherit;
    margin-right: 87.5%;
  }

  .offset-md-22 {
    margin-left: inherit;
    margin-right: 91.6666666667%;
  }

  .offset-md-23 {
    margin-left: inherit;
    margin-right: 95.8333333333%;
  }
}
@media (min-width: 992px) {
  .pull-lg-0 {
    right: auto;
    left: auto;
  }

  .pull-lg-1 {
    right: auto;
    left: 4.1666666667%;
  }

  .pull-lg-2 {
    right: auto;
    left: 8.3333333333%;
  }

  .pull-lg-3 {
    right: auto;
    left: 12.5%;
  }

  .pull-lg-4 {
    right: auto;
    left: 16.6666666667%;
  }

  .pull-lg-5 {
    right: auto;
    left: 20.8333333333%;
  }

  .pull-lg-6 {
    right: auto;
    left: 25%;
  }

  .pull-lg-7 {
    right: auto;
    left: 29.1666666667%;
  }

  .pull-lg-8 {
    right: auto;
    left: 33.3333333333%;
  }

  .pull-lg-9 {
    right: auto;
    left: 37.5%;
  }

  .pull-lg-10 {
    right: auto;
    left: 41.6666666667%;
  }

  .pull-lg-11 {
    right: auto;
    left: 45.8333333333%;
  }

  .pull-lg-12 {
    right: auto;
    left: 50%;
  }

  .pull-lg-13 {
    right: auto;
    left: 54.1666666667%;
  }

  .pull-lg-14 {
    right: auto;
    left: 58.3333333333%;
  }

  .pull-lg-15 {
    right: auto;
    left: 62.5%;
  }

  .pull-lg-16 {
    right: auto;
    left: 66.6666666667%;
  }

  .pull-lg-17 {
    right: auto;
    left: 70.8333333333%;
  }

  .pull-lg-18 {
    right: auto;
    left: 75%;
  }

  .pull-lg-19 {
    right: auto;
    left: 79.1666666667%;
  }

  .pull-lg-20 {
    right: auto;
    left: 83.3333333333%;
  }

  .pull-lg-21 {
    right: auto;
    left: 87.5%;
  }

  .pull-lg-22 {
    right: auto;
    left: 91.6666666667%;
  }

  .pull-lg-23 {
    right: auto;
    left: 95.8333333333%;
  }

  .pull-lg-24 {
    right: auto;
    left: 100%;
  }

  .push-lg-0 {
    left: auto;
    right: auto;
  }

  .push-lg-1 {
    left: auto;
    right: 4.1666666667%;
  }

  .push-lg-2 {
    left: auto;
    right: 8.3333333333%;
  }

  .push-lg-3 {
    left: auto;
    right: 12.5%;
  }

  .push-lg-4 {
    left: auto;
    right: 16.6666666667%;
  }

  .push-lg-5 {
    left: auto;
    right: 20.8333333333%;
  }

  .push-lg-6 {
    left: auto;
    right: 25%;
  }

  .push-lg-7 {
    left: auto;
    right: 29.1666666667%;
  }

  .push-lg-8 {
    left: auto;
    right: 33.3333333333%;
  }

  .push-lg-9 {
    left: auto;
    right: 37.5%;
  }

  .push-lg-10 {
    left: auto;
    right: 41.6666666667%;
  }

  .push-lg-11 {
    left: auto;
    right: 45.8333333333%;
  }

  .push-lg-12 {
    left: auto;
    right: 50%;
  }

  .push-lg-13 {
    left: auto;
    right: 54.1666666667%;
  }

  .push-lg-14 {
    left: auto;
    right: 58.3333333333%;
  }

  .push-lg-15 {
    left: auto;
    right: 62.5%;
  }

  .push-lg-16 {
    left: auto;
    right: 66.6666666667%;
  }

  .push-lg-17 {
    left: auto;
    right: 70.8333333333%;
  }

  .push-lg-18 {
    left: auto;
    right: 75%;
  }

  .push-lg-19 {
    left: auto;
    right: 79.1666666667%;
  }

  .push-lg-20 {
    left: auto;
    right: 83.3333333333%;
  }

  .push-lg-21 {
    left: auto;
    right: 87.5%;
  }

  .push-lg-22 {
    left: auto;
    right: 91.6666666667%;
  }

  .push-lg-23 {
    left: auto;
    right: 95.8333333333%;
  }

  .push-lg-24 {
    left: auto;
    right: 100%;
  }

  .offset-lg-0 {
    margin-left: inherit;
    margin-right: 0%;
  }

  .offset-lg-1 {
    margin-left: inherit;
    margin-right: 4.1666666667%;
  }

  .offset-lg-2 {
    margin-left: inherit;
    margin-right: 8.3333333333%;
  }

  .offset-lg-3 {
    margin-left: inherit;
    margin-right: 12.5%;
  }

  .offset-lg-4 {
    margin-left: inherit;
    margin-right: 16.6666666667%;
  }

  .offset-lg-5 {
    margin-left: inherit;
    margin-right: 20.8333333333%;
  }

  .offset-lg-6 {
    margin-left: inherit;
    margin-right: 25%;
  }

  .offset-lg-7 {
    margin-left: inherit;
    margin-right: 29.1666666667%;
  }

  .offset-lg-8 {
    margin-left: inherit;
    margin-right: 33.3333333333%;
  }

  .offset-lg-9 {
    margin-left: inherit;
    margin-right: 37.5%;
  }

  .offset-lg-10 {
    margin-left: inherit;
    margin-right: 41.6666666667%;
  }

  .offset-lg-11 {
    margin-left: inherit;
    margin-right: 45.8333333333%;
  }

  .offset-lg-12 {
    margin-left: inherit;
    margin-right: 50%;
  }

  .offset-lg-13 {
    margin-left: inherit;
    margin-right: 54.1666666667%;
  }

  .offset-lg-14 {
    margin-left: inherit;
    margin-right: 58.3333333333%;
  }

  .offset-lg-15 {
    margin-left: inherit;
    margin-right: 62.5%;
  }

  .offset-lg-16 {
    margin-left: inherit;
    margin-right: 66.6666666667%;
  }

  .offset-lg-17 {
    margin-left: inherit;
    margin-right: 70.8333333333%;
  }

  .offset-lg-18 {
    margin-left: inherit;
    margin-right: 75%;
  }

  .offset-lg-19 {
    margin-left: inherit;
    margin-right: 79.1666666667%;
  }

  .offset-lg-20 {
    margin-left: inherit;
    margin-right: 83.3333333333%;
  }

  .offset-lg-21 {
    margin-left: inherit;
    margin-right: 87.5%;
  }

  .offset-lg-22 {
    margin-left: inherit;
    margin-right: 91.6666666667%;
  }

  .offset-lg-23 {
    margin-left: inherit;
    margin-right: 95.8333333333%;
  }
}
@media (min-width: 1200px) {
  .pull-xl-0 {
    right: auto;
    left: auto;
  }

  .pull-xl-1 {
    right: auto;
    left: 4.1666666667%;
  }

  .pull-xl-2 {
    right: auto;
    left: 8.3333333333%;
  }

  .pull-xl-3 {
    right: auto;
    left: 12.5%;
  }

  .pull-xl-4 {
    right: auto;
    left: 16.6666666667%;
  }

  .pull-xl-5 {
    right: auto;
    left: 20.8333333333%;
  }

  .pull-xl-6 {
    right: auto;
    left: 25%;
  }

  .pull-xl-7 {
    right: auto;
    left: 29.1666666667%;
  }

  .pull-xl-8 {
    right: auto;
    left: 33.3333333333%;
  }

  .pull-xl-9 {
    right: auto;
    left: 37.5%;
  }

  .pull-xl-10 {
    right: auto;
    left: 41.6666666667%;
  }

  .pull-xl-11 {
    right: auto;
    left: 45.8333333333%;
  }

  .pull-xl-12 {
    right: auto;
    left: 50%;
  }

  .pull-xl-13 {
    right: auto;
    left: 54.1666666667%;
  }

  .pull-xl-14 {
    right: auto;
    left: 58.3333333333%;
  }

  .pull-xl-15 {
    right: auto;
    left: 62.5%;
  }

  .pull-xl-16 {
    right: auto;
    left: 66.6666666667%;
  }

  .pull-xl-17 {
    right: auto;
    left: 70.8333333333%;
  }

  .pull-xl-18 {
    right: auto;
    left: 75%;
  }

  .pull-xl-19 {
    right: auto;
    left: 79.1666666667%;
  }

  .pull-xl-20 {
    right: auto;
    left: 83.3333333333%;
  }

  .pull-xl-21 {
    right: auto;
    left: 87.5%;
  }

  .pull-xl-22 {
    right: auto;
    left: 91.6666666667%;
  }

  .pull-xl-23 {
    right: auto;
    left: 95.8333333333%;
  }

  .pull-xl-24 {
    right: auto;
    left: 100%;
  }

  .push-xl-0 {
    left: auto;
    right: auto;
  }

  .push-xl-1 {
    left: auto;
    right: 4.1666666667%;
  }

  .push-xl-2 {
    left: auto;
    right: 8.3333333333%;
  }

  .push-xl-3 {
    left: auto;
    right: 12.5%;
  }

  .push-xl-4 {
    left: auto;
    right: 16.6666666667%;
  }

  .push-xl-5 {
    left: auto;
    right: 20.8333333333%;
  }

  .push-xl-6 {
    left: auto;
    right: 25%;
  }

  .push-xl-7 {
    left: auto;
    right: 29.1666666667%;
  }

  .push-xl-8 {
    left: auto;
    right: 33.3333333333%;
  }

  .push-xl-9 {
    left: auto;
    right: 37.5%;
  }

  .push-xl-10 {
    left: auto;
    right: 41.6666666667%;
  }

  .push-xl-11 {
    left: auto;
    right: 45.8333333333%;
  }

  .push-xl-12 {
    left: auto;
    right: 50%;
  }

  .push-xl-13 {
    left: auto;
    right: 54.1666666667%;
  }

  .push-xl-14 {
    left: auto;
    right: 58.3333333333%;
  }

  .push-xl-15 {
    left: auto;
    right: 62.5%;
  }

  .push-xl-16 {
    left: auto;
    right: 66.6666666667%;
  }

  .push-xl-17 {
    left: auto;
    right: 70.8333333333%;
  }

  .push-xl-18 {
    left: auto;
    right: 75%;
  }

  .push-xl-19 {
    left: auto;
    right: 79.1666666667%;
  }

  .push-xl-20 {
    left: auto;
    right: 83.3333333333%;
  }

  .push-xl-21 {
    left: auto;
    right: 87.5%;
  }

  .push-xl-22 {
    left: auto;
    right: 91.6666666667%;
  }

  .push-xl-23 {
    left: auto;
    right: 95.8333333333%;
  }

  .push-xl-24 {
    left: auto;
    right: 100%;
  }

  .offset-xl-0 {
    margin-left: inherit;
    margin-right: 0%;
  }

  .offset-xl-1 {
    margin-left: inherit;
    margin-right: 4.1666666667%;
  }

  .offset-xl-2 {
    margin-left: inherit;
    margin-right: 8.3333333333%;
  }

  .offset-xl-3 {
    margin-left: inherit;
    margin-right: 12.5%;
  }

  .offset-xl-4 {
    margin-left: inherit;
    margin-right: 16.6666666667%;
  }

  .offset-xl-5 {
    margin-left: inherit;
    margin-right: 20.8333333333%;
  }

  .offset-xl-6 {
    margin-left: inherit;
    margin-right: 25%;
  }

  .offset-xl-7 {
    margin-left: inherit;
    margin-right: 29.1666666667%;
  }

  .offset-xl-8 {
    margin-left: inherit;
    margin-right: 33.3333333333%;
  }

  .offset-xl-9 {
    margin-left: inherit;
    margin-right: 37.5%;
  }

  .offset-xl-10 {
    margin-left: inherit;
    margin-right: 41.6666666667%;
  }

  .offset-xl-11 {
    margin-left: inherit;
    margin-right: 45.8333333333%;
  }

  .offset-xl-12 {
    margin-left: inherit;
    margin-right: 50%;
  }

  .offset-xl-13 {
    margin-left: inherit;
    margin-right: 54.1666666667%;
  }

  .offset-xl-14 {
    margin-left: inherit;
    margin-right: 58.3333333333%;
  }

  .offset-xl-15 {
    margin-left: inherit;
    margin-right: 62.5%;
  }

  .offset-xl-16 {
    margin-left: inherit;
    margin-right: 66.6666666667%;
  }

  .offset-xl-17 {
    margin-left: inherit;
    margin-right: 70.8333333333%;
  }

  .offset-xl-18 {
    margin-left: inherit;
    margin-right: 75%;
  }

  .offset-xl-19 {
    margin-left: inherit;
    margin-right: 79.1666666667%;
  }

  .offset-xl-20 {
    margin-left: inherit;
    margin-right: 83.3333333333%;
  }

  .offset-xl-21 {
    margin-left: inherit;
    margin-right: 87.5%;
  }

  .offset-xl-22 {
    margin-left: inherit;
    margin-right: 91.6666666667%;
  }

  .offset-xl-23 {
    margin-left: inherit;
    margin-right: 95.8333333333%;
  }
}
.swal-title {
  direction: rtl;
  text-align: right;
}

.swal-text {
  direction: rtl;
  text-align: right;
}

#login .login-container {
  direction: rtl;
}