.gm-style .gm-style-iw-d {
    max-width: 150px !important;
}

#map {
    height: 500px;
}

.table-classified .img-thumbnail {
    max-height: 70px;
}

.table-classified .td-image {
    max-width: 200px;
    max-height: 100px;
}

@media only screen and (min-width: 768px) {
    .list-classified .bg-light {
        height: 100px;
    }
}

.upper-list-banner {
    min-height: 300px;
}

.upper-list-banner img {
    max-width: 125px;
    max-height: 200px;
    margin: auto;
    margin-top: 10px;
}

.table-classified .td-image,
.table-classified .td-date {
    min-width: 100px;
}

.table-classified .td-price {
    min-width: 150px;
}


.table-classified .td-country,
.table-classified .td-subject {
    min-width: 200px;
}

/* Mobile filter */
.mobile-list-action {
    border: 1px solid #dee2e68a;
}

.mobile-list-action a {
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    margin-top: -5px;
    display: block;
    color: #022543;
}

.mobile-list-action a:hover,
.mobile-list-action a:hover {
    text-decoration: none;
}

.mobile-list-action a:after {
    position: absolute;
    width: 1px;
    height: 33px;
    top: 0;
    right: 0;
    content: '';
    background: #c9c9c9;
}

.mobile-list-action div:last-child a:after {
    content: none;
}

.mobile-list-action i {
    font-size: 19px;
    color: #a1a1a1;
}

.mobile-list-action div {
    margin-top: 6px;
}

.edit-category-filter-modal {
    top: 7px;
    right: 14px;
}

.edit-category-filter-modal a {
    text-decoration: none;
}

#categoryModal {
    background-color: rgba(0, 0, 0, 0.8);
}

.category-select-mobile span {
    right: 10px;
    top: 6px;
}

#filterModal {
    overflow-y: auto;
}

.result-text {
    font-size: 13px;
}

.result-text h1 {
    font-size: 13px;
    margin: 0;
    line-height: 1.5;
    max-width: 330px;
}

.result-text span:last-child {
    color: #8f0100;
    font-weight: 500;
}

.result-text .filter-tabs > div {
    margin: 3px 16px 4px 0;
}

.result-text .filter-tabs div > span {
    font-weight: 500;
    color: #292d2e;
}

.result-text .filter-tabs a {
    background-color: #eee;
    font-size: 12px;
    padding: 4px 7px;
    border-radius: 2px;
    text-decoration: none;
    max-width: 400px;
}

.result-text .filter-tabs div:last-child a {
    background-color: unset;
    font-size: 10px;
    padding: 0;
    text-decoration: none;
    color: #039;
}

.result-text .filter-tabs div:last-child a:hover {
    text-decoration: underline;
}

.result-text .filter-tabs a:hover {
    background-color: #e0e0e0;
}

.result-text .filter-tabs a span {
    color: #666;
}

.result-text .filter-tabs a:hover span {
    color: #444;
}

.result-text .filter-tabs a:hover button {
    background-color: #CD7D22;
}

.result-text .filter-tabs a button {
    height: 12px;
    width: 12px;
    background-color: #EC9C4A;
    border-radius: 2px;
}

.result-text .filter-tabs a button:focus {
    outline: none;
}

.result-text .filter-tabs a svg {
    flex-shrink: 0;
    height: 6px;
    width: 6px;
}

a.sort-by-open-dropdown:hover {
    color: #8598AA !important;
}

.sort-by-selected-text {
    font-size: 15px;
    font-weight: 500;
    color: #8598AA;
}

.list-view-type button {
    background-color: unset;
}

.list-view-type button:focus {
    outline: none;
}

.list-view-type button small {
    font-weight: 500;
    color: #8598AA;
}

.sort-by-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gallery-tn {
    object-fit: cover;
}

#listFilterForm .card-header {
    padding: 5px 0;
}

.p-3{
    background-color: #f4f4f4;
}

.card {
    border: none;
}

.py-1 {
    padding-top: 3px!important;
    padding-bottom: 3px!important;
}

.px-2 {
    padding: 0!important;
}

.btn-link {
    font-weight: bold;
}

.p-3 {
    padding: 8px !important;
}

.searchbut {
    padding: 0px !important;
}

#main > div > nav {
    padding-bottom: 10px !important;
}

.breadcrumb {
    padding: 0px !important;
}
.subbreadcrumb small , .sort-by-selected-text{
    color: black !important;
}

.img-thumbnail {
    padding: 0px;
    border: none;
}

.products-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-collapse {
    padding-left: 15px !important;
}