.gm-style .gm-style-iw-d {
    max-width: 150px !important;
}

#map {
    height: 500px;
}

.table-classified .img-thumbnail {
    max-height: 70px;
}

.table-classified .td-image {
    max-width: 200px;
    max-height: 100px;
}

.list-classified .bg-light {
    height: 100px;
}

.upper-list-banner {
    min-height: 300px;
}

.upper-list-banner img {
    max-width: 125px;
    max-height: 200px;
    margin: auto;
    margin-top: 10px;
}

.table-classified .td-image,
.table-classified .td-date {
    min-width: 100px;
}

.table-classified .td-price {
    min-width: 150px;
}


.table-classified .td-country,
.table-classified .td-subject {
    min-width: 200px;
}

/* Mobile filter */
.mobile-list-action {
    margin-left: -30px;
    margin-right: -30px;
    border: 1px solid #dee2e68a;
}

.mobile-list-action a {
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    margin-top: -5px;
    display: block;
    color: #022543;
}

.mobile-list-action a:hover,
.mobile-list-action a:hover {
    text-decoration: none;
}

.mobile-list-action a:after {
    position: absolute;
    width: 1px;
    height: 33px;
    top: 0;
    right: 0;
    content: '';
    background: #c9c9c9;
}

.mobile-list-action i {
    font-size: 19px;
    color: #a1a1a1;
}

.mobile-list-action div {
    margin-top: 6px;
}

.edit-category-filter-modal {
    top: 7px;
    right: 14px;
}

.edit-category-filter-modal a {
    text-decoration: none;
}

#categoryModal {
    background-color: rgba(0, 0, 0, 0.8);
}

.category-select-mobile span {
    right: 10px;
    top: 6px;
}

#filterModal {
    overflow-y: auto;
}