{% set stepsColor = setting_value('visiosoft.module.advs::steps_color') %}

#stepProgressBar .step.current .bullet {
    color: #209579;
    border: 0.2rem solid {{ stepsColor }};
}

#stepProgressBar .step .bullet {
    background-color: #209579;
}

#stepProgressBar .step.current::after {
    background: linear-gradient(to right, {{ stepsColor }} 50%, #dfdfdf 50%);
}

#stepProgressBar .step::after {
    background-color: #dfdfdf;
}
