#header {
    background-color: #3f475f;
    max-height: 58px;
}

#header .navbar-default {
    background: #3f475f;
}

.new-ads-navigation-field a {
    max-height: 34px;
    font-size: 12px !important;
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-weight: bold !important;
    border-radius: 2px !important;
    padding: 7px 22px !important;
    border: 0 !important;
    margin-left: 10px;
    text-shadow: 1px 1px 0 #29619b;
    background-color: rgb(72, 154, 241) !important;
}

.new-ads-navigation-field a:active {
    background: #1e79db !important;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.15);
}

.new-ads-navigation-field a:hover {
    background: #3388e3 !important;
}

.s-nav-links a {
    font-size: 11px !important;
    font-family: 'Lucida Grande', Arial, sans-serif;
    color: #fff !important;
    text-shadow: 1px 1px 0 #2f3339;
    font-weight: 700 !important;
    font-style: normal;
}

.register-text {
    border-left: 1px solid #404349;
    box-shadow: inset 1px 0 0 0 #60656e;
}

.navbar-nav {
    margin: 0 !important;;
    margin-top: 6px !important;
}

.s-nav-links .s-nav-toggle {
    font-size: 19px !important;
    color: #b5c9ff !important;
}

.s-nav-brand {
    margin-top: 7px;
    background-color: #ffe800;
    padding: 7px 24px 0px 24px;
    color: #000 !important;
    max-height: 34px;
    font-weight: 900;
    margin-bottom: 10px;
}

.s-nav-brand:hover {
    background-color: #ffe800 !important;
}

.login-user-dropdown-menu li a, .s-nav-dropdown li a {
    color: #000 !important;
    text-shadow: none;
}

.s-navbar {
    max-height: 58px;
}

.s-container-banner {
    min-height: 250px;
    background-color: #9a9a9a;
}

.s-container {
    margin-top: 16px;
}

.s-list-group {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
}

.s-list-group a {
    color: #333;
    padding: 6px 0 0 35px;
    background-color: transparent;
    border: none;
}

.s-list-group a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.s-list-group img {
    width: 24px;
    height: 24px;
    margin-bottom: -28px;
}
.s-product-item a {
    color: #333;
}

.s-product-item {
    margin-bottom: 20px;
}
.s-product-item:hover {
    margin-bottom: 20px;
    text-decoration: underline;
}

.s-product-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;
    border: none;
}

.s-ad-title {
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.s-ad-item:hover {
    text-decoration: underline;
}

.s-nav-search .navbar-form .input-group .s-search-input {
    max-height: 34px;
}

.s-nav-search .navbar-form .input-group {
    display: flex;
}

@media (max-width: 768px) {
    .s-container {
        margin-bottom: 70px;
        display: inline-block;
        padding: 0px;
    }

    .s-bottom-bar {
        height: 50px;
        max-height: 50px;
        margin: auto;
        padding: 5px;
        background: #f7f7f7;
        border: 1px solid #dedede;
        margin-right: -10%;
    }

    .s-bottom-bar .col-xs-2 , .s-bottom-bar .col-xs-3 {
        padding: 0;
    }

    .s-bottom-bar .col-xs-2 a span, .s-bottom-bar .col-xs-3 a span {
        width: 100%;
        font-size: 18px;
    }
    .s-home-banner{
        margin: 58px 0 0 0;
        padding: 0px;
    }
    .s-home-banner .visible-xs {
        padding: 0px;
    }
    .s-navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .s-mobile-categories {
        padding: 0;
    }
    .s-mobile-categories ul li, .s-mobile-categories ul li a font{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 3px;
        padding-bottom: 3px;
        border: none;
    }
    .s-mobile-categories ul li{
        border-bottom: 2px solid #ddd;
    }
    .s-mobile-categories ul {
        padding-top: 15px;
        background-color: #fff;
    }

    .s-mobile-categories ul li a font {
        color: #333;
        font-size: 16px;
        font-family: 'Lucida Grande',Arial,sans-serif;
        display: block;
    }
    .s-mobile-categories ul li a {
        line-height: 16px;
    }
    .s-mobile-categories ul li a span {
        color: #BCBBBB;
        font-size: 12px;
        font-family: 'Lucida Grande',Arial,sans-serif;
    }
    .s-mobile-categories ul li a img {
        float: left;
        margin-top: 5px;
        width: 27px;
        height: 27px;
        margin-right: 10px;
    }
    .s-home-show {
        background-color: #fff;
    }
    #main {
        margin-top: 58px;
        margin-bottom: 46px;
    }
    .s-logo {
        float: none;
        display: table;
        margin: 0 auto;
    }
}