<a href="javascript:void(0)" class="fs-12 text-secondary align-items-center fw-500 complaints pull-right text-muted"
   id="complaints" title="{{ trans('visiosoft.module.complaints::field.report') }}">
    <svg style="width: 24px;" class="mr-1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 32 32">
        <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
            <circle cx="15" cy="15" r="15" stroke="#E1E1E1" stroke-width="2"></circle>
            <path fill="#BEBEBE" fill-rule="nonzero"
                  d="M17.4 10L17 8 9 8 9 24 11 24 11 17 15.6 17 16 19 22 19 22 10z"></path>
        </g>
    </svg>
    {{ trans('visiosoft.theme.restate::field.ads_report') }}
</a>

{% include "visiosoft.module.complaints::ad-detail/title/modal" %}
