<div class="store-desc-wrapper mb-5">
	<div class="store-desc-header d-flex px-4 py-2 border rounded">
		<img src="{{ img('visiosoft.module.comments::images/comment.svg').path }}"
		     alt="store icon">
		<p class="ml-2 mb-0">{{ trans('visiosoft.module.comments::field.comment') }}</p>
	</div>
	{% include 'visiosoft.module.comments::comments' %}
</div>
