<div class="favorite-searches row border p-2 pt-3 rounded mb-2 d-none d-sm-flex mx-0 mt-4">
    <div class="search-fav-icon col-md-1">
        <i class="fa fa-search display-4 text-primary"></i>
    </div>
    <div class="search-fav-tex col-md-8">
        <h6>{{ trans("visiosoft.module.favs::field.my_favorite_searches") }}</h6>
        <p class="text-muted">{{ trans("visiosoft.module.favs::field.search_desc") }}</p>
    </div>
    <div class="search-fav-button col-md-3">
        <button class="btn btn-primary float-right fav-search-modal" type="button" id="save-search">
            {{ trans("visiosoft.module.favs::field.add_to_favorites") }}
        </button>
    </div>
</div>