{% block content %}
    <div class="container-fluid">
        <div class="card">
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h6>{{ trans('visiosoft.theme.defaultadmin::control_panel.choose_file_type') }}:</h6>
            </div>
            <div class="card-block">
                <a href="?format=csv" class="btn btn-outline-primary">CSV</a>
                <a href="?format=xlsx" class="btn btn-outline-primary">XLSX</a>
            </div>
        </div>
    </div>
{% endblock %}
