<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}{% endblock %}
</head>
<body>
<div class="container" style="max-width: 800px;">

    {% include "theme::partials/messages" %}

    {% block content %}
    {% endblock %}
</div>

</body>
</html>
