{% set adv = params.adv %}
{% if setting_value('visiosoft.module.location::detail_page_location') and adv.country_name %}
    <div class="col-md-12 m-2 location-container">
        <i class="fas fa-location-arrow text-primary"></i>
        {{ (adv.city_name) ? adv.city_name~',' : '' }} {{ adv.country_name }}
    </div>
{% endif %}