{% set adv = params.adv %}
{% if setting_value('visiosoft.module.location::detail_page_location') %}
	<div class="col-md-12 location-container">
		<span class="font-weight-bold">{{ trans('visiosoft.module.location::field.location') }}:</span>
		{{ adv.city_name }}, {{ adv.country_name }}
	</div>
{% endif %}