.filter-location-back {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #000;
    opacity: .3;
    -ms-filter: "alpha(opacity=30)";
    filter: alpha(opacity=30);
    -ms-filter: "alpha(opacity=50)";

}

.filter-location-body ul li:hover {
    background: #227af3;
    color: #fff;
}

.filter-location-body .countries,
.filter-location-body .cities,
.filter-location-body .districts,
.filter-location-body .neighborhoods,
.filter-location-body .village {
    height: 200px;
    overflow: auto;
    display: none
}