<a id="carts" href="{{ url_route('visiosoft.module.carts::cart') }}" class="modal-item pb-4">
    {{ img('visiosoft.theme.restate::images/icons/cart-dropdown.svg').data|raw }}
    <span>{{ trans('visiosoft.module.carts::field.cart') }}</span>
</a>
