<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="login" class="variant-{{ random(8) }}" data-variants="8">

{% block content %}{% endblock %}

{% include "theme::partials/assets" %}

</body>
</html>
