<h4 class="ml-3 fs-20 py-3 font-weight-normal">{{ trans('visiosoft.theme.restate::field.special_for_me')|raw }}</h4>
<div class="row p-0 m-0">
    <div class="sliderDefault mx-auto w-100">
        {% for ads in getPopular() %}
            {% include "visiosoft.theme.restate::/partials/productCard" with {"ads": ads} %}
        {% endfor %}
    </div>
</div>
