{% if features %}
    <a class="nav-item nav-link bg-secondary text-white" id="nav-features-tab"
       data-toggle="tab" href="#nav-features" role="tab"
       aria-controls="nav-features"
       aria-selected="true">{{ trans('visiosoft.module.customfields::field.features.name') }}</a>
{% endif %}