<!DOCTYPE html>
<html lang="en">

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="error">

{% block content %}{% endblock %}

{% include "theme::partials/scripts" %}

</body>

</html>
