<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url("/") }}">{{ trans('visiosoft.module.classifieds::field.home') }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ trans('visiosoft.module.classifieds::field.classified_post') }}</li>
    </ol>
</nav>