{% extends layout('posts') %}

{% block content %}
    <div id="posts">
        <div class="container">

            <header class="jumbotron text-center">

                <h1>{{ category.title }}</h1>

                {% if category.description %}
                    <p>{{ category.description|raw }}</p>
                {% endif %}

            </header>

            {% set posts = entries('posts').where('category_id', category.id).recent().paginate() %}

            {% include "anomaly.module.posts::posts/partials/posts" with {"posts": posts} %}

            {{ posts.links|raw }}

        </div>
    </div>
{% endblock %}
