{% if(setting_value('visiosoft.module.pricehistory::show_ad_details')) %}
    <a class="nav-item nav-link bg-secondary" id="nav-pricehistory-tab"
       data-toggle="tab" href="#nav-pricehistory" role="tab"
       aria-controls="nav-pricehistory"
       aria-selected="true">{{ trans('visiosoft.module.pricehistory::addon.title') }}</a>
{% endif %}