{% extends "theme::layouts/default" %}
{% block content %}
    <section id="main" class="clearfix user-page">
        <div class="container">
            <div class="row text-center">
                <!-- user-login -->
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="user-account">
                        {% include "theme::partials/messages" %}
                        <h2>Password Forgot</h2>
                        <!-- form -->
                        {% set form = form('forgot_password').redirect(request_get('redirect', '/')).get()  %}
                        {{ form.open()|raw }}
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Id" name="{{ form.fields.email.input_name }}">
                        </div>
                        <button type="submit" href="#" class="btn">Submit</button>
                        <!-- forgot-password -->
                        {{ form.close()|raw }}
                    </div>
                </div><!-- user-login -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- signin-page -->
{% endblock %}