<button
        type="button"
        class="btn btn-secondary btn-floating btn-lg"
        id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>

{{ asset_add("scripts.js", "visiosoft.extension.gg_style_provider::js/button.js") }}
