{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "visiosoft.module.system::admin/partials/table" with {'attributes': {
            'Time': 'entry.createdAt',
            'Hostname': 'entry.content.hostname',
            'Description': 'entry.content.description',
            'Command': 'entry.content.command',
            'Expression': 'entry.content.expression',
            'Timezone': 'entry.content.timezone',
            'Output': 'entry.content.output',
            'Tags': 'entry.tags',
        }} %}

        {% include "visiosoft.module.system::admin/partials/user" %}
        {% include "visiosoft.module.system::admin/partials/batch" %}

    </div>
{% endblock %}
