<div class="card">

    {% include "streams::form/partials/header" with {"section": section} %}

    <div class="card-block">

        {% include "visiosoft.module.advs::form/partials/fields" with {"fields": form.fields.base().pluck('field_name').all()} %}

    </div>
</div>
