{% extends "pyrocms.theme.starter::layouts/error" %}

{% block content %}

    <!-- Header -->
    <header>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">404</span>
                        <hr class="star-light">
                        <span class="skills">That's.. well, lost.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
