<div id="breadcrumb">
    <ul class="d-flex overflow-auto text-nowrap">
        <li>
            <a href="{{ url('/') }}">{{ trans("visiosoft.module.classifieds::field.home") }}</a>
        </li>

        {{ addBlock('classifieds-list/partials/breadcrumb-mobile', {'mainCats': mainCats, 'category': categoryId})|raw }}

    </ul>
</div>
